*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #eeeeeeb9;
    padding: 1.5rem;
    position: fixed;
    top: -100px; /* Versteckt den Header zunächst oberhalb der Ansicht */
    width: 100%;
    z-index: 1000;
    transition: top 0.7s ease-in-out; /* Animation hinzufügen */
    opacity: 0;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}


/* ... */
.hero {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

#heroVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}
.video-blur {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
    z-index: 1;
}
.hero-content {
    position: relative;
    z-index: 1;
    color: white; /* Optional: Fügen Sie eine Textfarbe hinzu, die gut zum Video passt */
}
.hero-content h1{
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
.hero-content p{
    padding: 0 2rem;
    text-shadow: 2px 2px 4px rgb(221, 221, 221, 0.5);
    font-family: 'Merriweather', serif;
    
}


.material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48
  }

  .material-symbols-outlined {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 2.5;
}
.arrow.material-symbols-outlined{
    font-size: 4rem;
    bottom: 10vh;
    right: 50%;
    transform: translate(50%, 50%);
    z-index: 1000;
    
}
.arrow-text {
    color: white;
    z-index: 1;
    font-family:'Times New Roman', Times, serif;
    position: fixed;
    bottom: 15vh;
    right: 50%;
    transform: translate(50%, 50%);
    font-size: 1rem;
    z-index: 1000;
     
  }
  @keyframes jump {
    0% {
        opacity: 1;
      }
      100% {
        opacity: 0.3;
      }
      
  } 



/* ... */



.banner_content_h2{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    padding: 0 2rem 6vh 2rem;
}
.banner_content_h3{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: white;
    padding: 0 2rem 0 2rem;
}
.banner_content_p{
    padding: 0 2rem 0 2rem;
}

.hero p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    
}

.cta {
    background-color: #333;
    color: white;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
}

/* footer {
    background-color: #eeeeeeb9;
    padding: 1rem;
    text-align: center;
    color: white;
} */

@media screen and (max-width: 768px) {
    #heroVideo {
        height: 100%; /* Erhöhen Sie die Höhe des Videos */
         /* Verschieben Sie das Video ein wenig nach oben, um die schwarzen Ränder oben und unten auszugleichen */
    }
   .banner{
    padding-top: 10vh;
   }
   .banner_content_h3{
    font-size: 1.2rem;
   }
}

/* Neuer Banner */
.banner {
    min-height: 80vh;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    background-color: black;
    position: relative;
    overflow: hidden;
}
.curve {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 150' preserveAspectRatio='none'%3E%3Cpath d='M0,100 Q360,200 720,100 T1440,100 V150 H0 Z' fill='%23FFFFFF'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    opacity: 0;
    transition: 1s;
    z-index: 9999;
}

.banner-content {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 15vh;
    padding-bottom: 4rem;
}

.banner h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: white;
}

.banner p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: white;
}
.hidden {
    opacity: 0;
  }
  

@media screen and (max-width: 768px) {
    .banner h2 {
        font-size: 1.5rem;
    }

    .banner p {
        font-size: 1rem;
    }
}

.banner2 {
    min-height: 100vh;
    padding: 5rem 0;
    display: flex;
    padding-bottom: 3rem;
    transition: background-color 1s;
    background-color: black;
}
.backgroundblack{
    background-color: white;
}
.banner2-content{
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.banner2-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 4rem;
    opacity: 0;
    transition: 1s;
}
.banner2-item-img {
    width: 50%;
    max-width: 100%;
}
.banner2-item-text {
    width: 50%;
    text-align: left;
}
.banner2_content_h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    padding: 0 2rem 6vh 2rem;
}
.kursiv{
    font-style: italic;
}
.banner2_content_h3{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: black;
    padding: 0 2rem 0 2rem;
}
.banner2_content_p{
    padding: 0 2rem 0 2rem;
    text-decoration: none;
}
.banner2_content_a{
    /* padding: 0 2rem 0 2rem; */
    text-decoration: none;
    color: rgb(206, 145, 41);
    font-style: italic;
}
.banner2_content_a:hover{
    text-decoration: underline;
}

/* Media Query für kleine Bildschirme */
@media screen and (max-width: 768px) {
    .banner2-content {
        flex-direction: column;
    }
    .banner2-item {
        flex-direction: column;
        align-items: center;
    }
    .banner2-item-img
     {
        width: 90%;
    }
    .banner2-item-text{
        width: 100%;
    }
    
}
.download-button {
    display: inline-block;
    background-color: rgb(206, 145, 41);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    margin-left: 2rem;
}

.download-button:hover {
    background-color: rgb(180, 120, 30);
}
.opacitynull{
    opacity: 1;
}